/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body{
    background-image: url("assets/Screenshot_20180522-160248.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
